body {
  min-height: 100vh;
}
.top-bar {
  margin: 25px 0px;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.news {
  background-color: rgb(87, 87, 214);
  color: white;
  padding: 5px;
  margin-right: 2px;
}
.news-blog a {
  margin-left: 20px;
  cursor: pointer;
  font-size: 20px;
}
.a_img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
.af_img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
.author p {
  font-size: 12px;
  margin-bottom: 2px;
}
.n_img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}
.s_n {
  height: 367px;
}

.details {
  height: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon-e {
  cursor: pointer;
  font-size: 25px;
}

footer {
  margin-top: 100px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .s_n {
    height: 100%;
    flex-direction: column;
  }
}
